
/*** tour section ***/

.tour-content {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 $boxShadow;
  margin: 0 2rem;
  overflow: hidden;

  .tour-content-block {
    padding: 0 1rem;

    p {
      font-size: 14px;
    }

    img {
      width: 15px;
      height: 15px;
      margin-top: 0.2rem;
     }
    
  }

  .tour-title {
    position: absolute;
    bottom: -30px;
    border-radius: 4px;
    left: 1rem;
    background-color: $whiteColor;
    padding: 1rem 1.8rem 1rem 1rem;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
  }

}


@media (max-width:568px) {
  .tour-content {
     margin: 0;
  }

}