/***commun code */
$greenColor : #087F5B;
$lightGreen: #DAEAE6;
$whiteColor : #fff;
$lightColor: rgba(255,255,255,0.3);
$boxShadow: rgba(0, 0, 0, 0.07);
$blackColor: #000;
$borderColor: #DFE2E6;
$lightGrey: #868E96;

* {
 padding: 0;
  margin: 0;
}

html{ margin: 0; height: 100%; }

body {
  -ms-overlfow-style: scrollbar;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.margin-top {
  margin-top: 60px;
}

.paddings{
  padding: 60px 0;
}

.h1-class {
  display: inline-block;
  position: relative;
  z-index: 0 !important;
  font-weight: bold;
  font-size: 60px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 80px;
    height: 25px;
    background-color: $lightGreen;
    z-index: -1 !important;
  }
}

.p-class {
  width: 550px;
  margin: 0 auto 5rem;
}

.discover {
  text-transform: uppercase;
  display: inline-block !important;
  color: $whiteColor !important;
  background-color: $greenColor;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  line-height: 50px;
  transition: all 0.4s ease-in;
  margin-top: 3rem;
  font-weight: bold;

  &:hover { 
    background-color: $whiteColor;
    border: 1px solid $greenColor;
    color: $greenColor !important;
  }
  
}

/*** tour section ***/

.tour-content {
  border-radius: 10px;
  box-shadow: 0 15px 25px 0 $boxShadow;
  margin: 0 2rem;

  .tour-content-block {
    padding: 0 1rem;

    p {
      font-size: 10px;
      font-weight: bold;
    }

    img {
      width: 15px;
      height: 15px;
      margin-top: 0.2rem;
     }
    
  }

  .tour-title {
    position: absolute;
    bottom: -30px;
    border-radius: 10px;
    left: 1rem;
    background-color: $whiteColor;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 0 5px 25px $boxShadow;
  }
}

/**fixed navbar**/

.fixed {
  top: 0;
  background: $whiteColor;
  position: fixed;
  left: 0;
  right: 0;
  color: $blackColor !important;
  z-index: 999;
  padding: 1.5rem 0 !important;
  transition: all 0.4s ease-in;
  box-shadow: 0 10px 15px 0 $boxShadow;

  .navbar-brand, form a{
    color: $blackColor !important;
  }

  .nav-link{
    color: $blackColor !important;
  }

  .search {
    border: 1px solid $greenColor;
    opacity: 1;
  }

  form .search .fa-search{
    color: black !important;
  }

  form .search ::placeholder {
    color: $lightGrey !important;
    font-weight: bold;
    opacity: 1;
  }

  form .search :-ms-input-placeholder {
    color: $lightGrey;
    font-weight: bold;
  }

  form .search::-ms-input-placeholder {
    color: $lightGrey;
    font-weight: bold;
  }
  
}

/*header*/

.header {
  background-image: url("../images/header-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: $whiteColor;
  
  .navbar-brand{
    font-size: 30px;
    font-weight: bold;
  }

  .navbar {

      .nav-item {
        margin-left: 1rem;
        padding: 0 0.5rem;
      }
      
      .nav-link{
        transition: all 0.4s ease-in;
        border-radius: 10px;

        &:hover {
          background-color: $greenColor;
          color: $whiteColor !important;
        }
      }

  }

  .active {
    font-weight: bold !important;
    background-color: $greenColor;
    color: $whiteColor !important;
    border-radius: 10px;
  }

  .header-content{
    margin: 4.5rem 0;

    h1 {
      width: 40%;
      font-weight: bold;
    }

    p{
      width: 40%;
    }

    a{
      display: inline-block;
      transition: all 0.4s ease-in;
      height: 50px !important;
      line-height: 50px;
      border-radius: 10px;

      &:hover{
        background-color: $greenColor;
        padding: 0 1.5rem !important;
      }
    }
   }

  a{
    color: $whiteColor !important;
  }

  .search {
    border-radius: 25px !important;
    background-color: $lightColor;
    height: 40px;
    padding: 0 1rem;
  
    input {
      border: none;
      outline: none;
      height: 100%;
      background: none;
    }
  
    .fa-search{
      color: $whiteColor !important;
     }
  
     ::placeholder {
      color: $whiteColor !important;
      font-weight: bold;
      opacity: 1;
      }
      
      :-ms-input-placeholder {
      color: $whiteColor;
      font-weight: bold;
      }
      
      ::-ms-input-placeholder {
      color: $whiteColor;
      font-weight: bold;
      }
     
  }

  .dropdown-menu {
    padding: 0;
    border-radius: 10px !important;
    overflow: hidden;
  
    a {
      color: $blackColor !important;
      width: 100% !important;
      height: 50px;
      display: block;
      line-height: 40px;
      font-weight: bold;
      transition: all 0.4s ease-in;
  
      &:hover {
        background-color: $greenColor;
        color: $whiteColor !important;
       }
    }
  }

  .white-div {
    position: absolute;
    height: 90px;
    background-color: $whiteColor;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0 !important;
  }

  
.search-destination {
  width: 1000px;
  margin: auto;
  color: $blackColor;
  background-color: $whiteColor;
  position: relative;
  z-index: 2;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px $boxShadow;

  input[type="submit"]{
    background-color: $blackColor;
    outline: none;
    height: 50px;
    padding: 0 3rem;
    color: $whiteColor;
    border-radius: 10px;
    border:none;
    transition: all 0.4s ease-in;
    font-weight: bold;
    border:1px solid $blackColor;

    &:hover{
      background-color: $whiteColor;
      color: #000;
  }
  }

  form div {
    flex: 1;
    margin: 0 1rem;
  }
  
}

.location, .date, .price {
  border-radius: 10px;
  padding: 1rem 1rem 0 1rem;
  p{
    font-weight: bold;
    cursor: pointer;
  }

  ul li{
    font-weight: bold;
    cursor: pointer;
    padding: 0.4rem 0.7rem !important;
    transition: all 0.4s ease-in;
  }

  ul li:hover{
    background-color: $greenColor;
    color: $whiteColor;
  }
}

.date {
  #datepicker {
    cursor: pointer;
  }

  input {
    border: none;
    width: 40px;
    outline: none;
  }
}
  
}

/*** pricing section ***/

.pricing-content {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 1.5rem;

  img{
    width: 20px;
    height: 20px;
  }

  h2 {
    font-weight: bold;
  }

  h6{
    font-weight: bold;
  }

  .small-p {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  a{
    transition: all 0.4s ease-in;
    font-weight: bold;
  }
  
}

/*** pricing section**/
#pricing-content1, #pricing-content3 {
  background-color: $whiteColor;
  a{
    height: 50px;
    color: $whiteColor;
    background-color: $greenColor;
    border-radius: 10px;
    width: 100%;
    line-height: 50px;
    margin-top: 3rem;

    &:hover  {
      background-color: $whiteColor;
      border: 1px solid $greenColor;
      color: $greenColor;
    }
  } 
} 

#pricing-content2 {
  background-color: $greenColor;
  color: $whiteColor;

  a{
    background-color: $blackColor;
    color: $whiteColor;
    line-height: 50px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-top: 3rem;

    &:hover {
      background-color: $whiteColor;
      color: $greenColor;
    }
  }
}

/*** blog section **/

.blog .col-lg-6 a {
  color: $blackColor !important;
}
/*** contact section **/

.contact-form {
 padding-right: 2rem;

  input, textarea{
    margin-bottom: 1rem;
    outline: none;
  }

  input[type="text"], textarea, input[type="email"] {
    width: 90%;
    background-color: $whiteColor;
    border: 1px solid $borderColor;
    border-radius: 10px;
    padding-left: 1rem;
  }

  input[type="text"], input[type="submit"], input[type="email"] {
    height: 50px;
  }

  textarea {
    height: 180px;
    resize: none;
    padding-top: 1rem;
  }

  input[type="submit"] {
    width: 180px;
    background-color: $blackColor;
    border: 1px solid $blackColor;
    font-weight: bold;
    color: $whiteColor;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease-in;

    &:hover {
      width: 180px;
      background-color: $whiteColor;
      color: $blackColor;
      border: 1px solid $blackColor;
    }
  }
}

/**map**/

.map {
  text-align: right;

  iframe{
    border-radius: 10px;
    width: 90%;
    height: 400px;
  }

  .address {
    text-align: left;
    width: 250px;
    bottom: -30px;
    left: 0;
    padding: 2rem;
    background-color: $greenColor;
    border-radius: 10px;
    color: $whiteColor;
    font-size: 18px;
    font-weight: bold;
  }
}

/** footer section **/

.footer {
  padding-top: 80px;

  p, a{
    color: #868E96;
    font-weight: bold;
  }

  a{
    display: inline-block !important;
  }
  

  p{
    width: 65%;
  }

  ul li{
    margin-bottom: 0.5rem;
  }
}

.copyright-inner{
  color: $whiteColor;
  padding: 1rem 0;
  border-top: 1px solid $lightGrey;
  font-weight: bold;

  a{
    display: inline-block !important;
  }
}

.social-media {
  color: $whiteColor;

  a {
    border: 1px solid $borderColor;
    color:$whiteColor;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all 0.4s ease-in;

    &:hover {
      background-color: $whiteColor;

      i{
        color: $greenColor;
      }
    }
  }

  i{
    font-size: 20px;
    transition: all 0.4s ease-in;
  }
 
}

.footer-social-media {
  a{
    border: 1px solid $borderColor;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all 0.4s ease-in;
  
    &:hover {
      background-color: $whiteColor;

      i{
        color: $greenColor;
       }
    }

    i{
      font-size: 20px;
      transition: all 0.4s ease-in;
    }
  }
  
}

.newsleter {
  text-decoration: underline;
}